<!DOCTYPE html>
<html lang="en">

 <head>
 <title>|WELCOME TO SERVICEHUB|</title>
<link rel="icon" href="images/logo/2.png" type="image/png" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

#poli{

background: url('Images/green.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center;
}
</style>
</head>
<body>

    

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img src="Images\logo.png" style="margin: 10px;" width="100" height="90" alt="SERVICE HUB"  id="top"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav " style="margin: 5px; padding:2px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">

                <li><a href="#slider" style="margin-top: 20px; color:white;" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-th-list"></span> HOME</a></li>
                <li><a href="#Services" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> SERVICES</a></li>
                <li><a href="#Policies" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> OUR POLICIES</a></li>
                <li><a href="#aboutUs" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> ABOUT US</a></li>
                <li><a href="register.html" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> BECOME A PART</a></li>
      
              </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide ">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
            <div class="fill" class="img-responsive" id="item1"></div>
        </li>
        <li data-target="#myCarousel" data-slide-to="1">
            <div class="fill" class="img-responsive" id="item2"></div>
        </li>
        <li data-target="#myCarousel" data-slide-to="2">
            <div class="fill" class="img-responsive" id="item3"></div>
        </li>
        <li data-target="#myCarousel" data-slide-to="3">
                <div class="fill" class="img-responsive" id="item4"></div>
        </li>
    </ol>

    <!-- Wrapper for Slides -->
    <div id="slider" class="carousel-inner">
        <div class="item active">
            <div class="fill" class="img-responsive" id="image1"></div>
        </div>
        <div class="item">
            <div class="fill" class="img-responsive" id="image2"></div>
        </div>
        <div class="item">
            <div class="fill" class="img-responsive" id="image3"></div>
        </div>
        <div class="item">
            <div class="fill" class="img-responsive" id="image4"></div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div>

    <div class="row">
        <div class="col-lg-12">
            <!--link image-->
                <div class="container">
             <h2 align="center" id="Services" style="text-decoration:underline; color:rgb(150, 118, 200);">SERVICES</h2>
              <br>
            <br>
              <div class="row">
                <div class="col-md-3" >
                  <div class="thumbnail hover01">
                     <a href="carpenter.html">
                      <img id="im" class="img-responsive"  src="Images/logo/carpenterlogo.jpg" alt="carpenter" style="width:100%; height:180px;">
                      <div class="caption">
                          <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">CARPENTER</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="thumbnail hover01">
                    <a href="plumber.html">
                      <img id="im" class="img-responsive" src="Images/logo/plumberlogo.jpg" alt="plumber" style="width:100%; height:180px;">
                      <div class="caption">
                          <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">PLUMBER</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="thumbnail hover01">
                    <a href="electrician.html">
                      <img id="im" class="img-responsive" src="Images/logo/electricianlogo.jpg" alt="electrician" style="width:100%; height:180px;">
                      <div class="caption">
                          <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">ELECTRICIAN</p>
                      </div>
                    </a>
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="thumbnail hover01">
                      <a href="painter.html">
                        <img id="im"  src="Images/logo/painterlogo.jpg" alt="painter" style="width:100%; height:180px;">
                        <div class="caption">
                            <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">PAINTER</p>
                        </div>
                      </a>
                    </div>
                </div>
              </div>
              <br>
            </div>
            <!-- link image-->
                    </div>
            



  <br><br><br>

  <!--About Us Starts-->
  <div id="poli">
    <br>
  <h1 id="aboutUs" style="text-decoration:underline; color:rgb(240, 238, 120);">About Us</h1>
  <p style="font-size:20px; line-height:30px; margin:30px;font-family:georgia; color:paleyellow;">
    We provide information about different services like carpenter,plumber,electrician,painter and mason in order to provide convinience to people. Our main responsibility is to provide correct information to the users of this website regarding different services. We are not responsible if these services gives any physical or financial harm to you.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
    </div>

    <hr>
  <!-- Polices Starts -->
  <div id="poli">
    <br>
  <h1 id="Policies" style="text-decoration:underline; color:rgb(240, 238, 120);">Our Policies</h1>
    <p style="font-size:20px; line-height:30px; margin:30px;font-family:georgia; color:paleyellow;">
Our main responsibility is to provide correct information to the users of this website regarding different services. We are not responsible
       if these services gives any physical or financial harm to you.
      f the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
      but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <br>
</div>
  <!--Polices Ends-->
    <!-- Footer -->
    <footer>
        <div class="footer-section">
            <div class="footer">
            <div class="container">
                    <div class="col-md-4 footer-one">
                      <div class="foot-logo">
                          <img src="Images/footer_logo.png">
                      </div> 
                       
                       <p>WE PROVIDE CONVINIENCE TO YOU </p>
                       
                    <div class="social-icons"> 
                       <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                       <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                    </div>
                    <div class="col-md-2 footer-two">
                       <h5>Quick Links</h5>
                          <ul>
                            <li><a href="#aboutUs"> About Us</a> </li>
                            <li><a href="#Services"> Our Services</a> </li>
                            <li><a href="#Policies"> Policies</a> </li>
                          </ul>
                          
                    </div>
                    <div class="col-md-2 footer-three">
                       <h5>Services</h5>
                          <ul>
                            <li><a href="#"> Electrician</a> </li>
                            <li><a href="#"> Plumber</a> </li>
                            <li><a href="#"> Carpenter</a> </li>
                            <li><a href="#"> Painter</a> </li>
                          </ul>
                          
                    </div>
                    <div class="col-md-4 footer-four">
                       <h5>Contact Us</h5>
                         <img src="Images/footer-img-1.png">  
                          
                    </div>
                    
                
                
                
                
                
                <div class="clearfix"></div>
            </div>
        </div>
        
        </div>
        <div class="footer-bottom">
                <div class="container">
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="copyright-text">
                                        <p>CopyRight © 2017 Digital All Rights Reserved</p>
                                    </div>
                                </div> <!-- End Col -->
                                <div class="col-sm-6  ">
                                    <div class="copyright-text pull-right">
                                        <p> <a href="/index.html">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a href="#">Refund Policy</a> </p>
                                    </div>					
                                                            
                                </div> <!-- End Col -->
                            </div>
                        </div>
            </div>
    </footer>

</div><!-- /.container -->
<script>
    $('.carousel').carousel({
    interval: 3000 //changes the speed
})
</script>
<script>
    $(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});

</script>
</body>
</html>
