<!DOCTYPE html>
<html>
<head>
<title>REGISTERATION|SERVICEHUB|</title>
<link rel="icon" href="images/logo/2.png" type="image/png" >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="style1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>


* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.active {
  background-color: #717171;
}
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}


.main{
 	margin:50px 15px;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}



input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#009edf;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}


/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}




/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
 
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
         <a href="index.html"><img src="Images\logo.png" style="margin: 10px;" width="100" height="90" alt="SERVICE HUB"  id="top"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav " style="margin: 5px; padding:2px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">

                <li><a href="index.html" style="margin-top: 20px; color:white;" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-th-list"></span> HOME</a></li>
                <li><a href="#Services" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> SERVICES</a></li>
               <li><a href="register.html" style="margin-top: 20px; margin-left: 10px; color:white;" class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-user"></span> BECOME A PART</a></li>
      
              </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<br>
<div class="container" style="margin-top:50px;">
    <h1 class="well">Registration Form</h1>
    <div class="col-lg-12 well">
    <div class="row">
            <form id="register" onsubmit="return Validation();" action="/register.html" method="post">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                    <label for="name">NAME</label>
                                    <input type="text" class="form-control" name="name" placeholder="ENTER YOUR NAME" required>
                            </div>
                        </div>					
                        <div class="form-group">
                                <label for="contact_no">CONTACT NUMBER.</label>
                                <input type="tel" id="cn" class="form-control" name="contact_no" maxlength="11" placeholder=" ENTER CELL NUMBER "required>
                        </div>
                        <div class="form-group">
                          <label for="category">CNIC Number</label>
                          <input type="tel" id="CNIC" class="form-control" name="cnic" maxlength="13" placeholder=" ENTER CNIC NUMBER WITHOUT - "required>
                        </div>	
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                    <label for="area">AREA</label>
                                    <select class="form-control" name="Area">
                                      <option value="BUFFER ZONE">BUFFER ZONE</option>
                                      <option value="NAGAN">NAGAN</option>
                                      <option value="BALDIA TOWN">BALDIA TOWN</option>
                                      <option value="GULBERG">GULBERG</option>
                                    </select>
                            </div>	
                            <div class="col-sm-4 form-group">
                                    <label for="category">CATEGORY</label>
                                    <select class="form-control" name="category">
                                      <option value="ELECTRICIAN">ELECTRICIAN</option>
                                      <option value="PLUMBER">PLUMBER</option>
                                      <option value="PAINTER">PAINTER</option>
                                      <option value="CARPENTER">CARPENTER</option>
                                    </select>
                            </div>
                        </div>
                        <div class="row">
                        <input type="submit" class="form-control btn btn-info" value="SUBMIT">					
                    </div>
                </form> 
                </div>
    </div>
    </div>  

<div class="row">
  <div class="col-lg-12">
      <!--link image-->
          <div class="container">
       <h2 align="center" id="Services"style="text-decoration:underline; color:rgb(150, 118, 200);">SERVICES</h2>
        <br>
      <br>
        <div class="row">
          <div class="col-md-3" >
            <div class="thumbnail hover01">
              <a href="carpenter.html">
                <img id="im"  src="Images/logo/carpenterlogo.jpg" alt="carpenter" style="width:100%; height:180px;">
                <div class="caption">
                    <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">CARPENTER</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail hover01">
              <a href="plumber.html">
                <img id="im"  src="Images/logo/plumberlogo.jpg" alt="plumber" style="width:100%; height:180px;">
                <div class="caption">
                    <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">PLUMBER</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail hover01">
              <a href="electrician.html">
                <img id="im"  src="Images/logo/electricianlogo.jpg" alt="electrician" style="width:100%; height:180px;">
                <div class="caption">
                    <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">ELECTRICIAN</p>
                </div>
              </a>
            </div>
          </div>
            <div class="col-md-3">
              <div class="thumbnail hover01">
                <a href="painter.html">
                  <img id="im"  src="Images/logo/painterlogo.jpg" alt="painter" style="width:100%; height:180px;">
                  <div class="caption">
                      <p style="color:black; font-size:30px; text-align:center; font-family:fantasy;">PAINTER</p>
                  </div>
                </a>
              </div>
          </div>
        </div>
        <br>
      </div>
      <!-- link image-->
              </div>

<hr>

<!-- Footer -->
<footer>
  <div class="footer-section">
      <div class="footer">
      <div class="container">
              <div class="col-md-4 footer-one">
                <div class="foot-logo">
                    <img src="Images/footer_logo.png">
                </div> 
                 
                 <p>WE PROVIDE CONVINIENCE TO YOU</p>
                
              <div class="social-icons"> 
                 <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                 <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                  <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              </div>
              </div>
              <div class="col-md-2 footer-two">
                 <h5>Quick Links</h5>
                    <ul>
                      <li><a href="#aboutUs"> About Us</a> </li>
                      <li><a href="#Services"> Our Services</a> </li>
                      <li><a href="#Policies"> Policies</a> </li>
                    </ul>
                    
              </div>
              <div class="col-md-2 footer-three">
                 <h5>Services</h5>
                    <ul>
                      <li><a href="#"> Electrician</a> </li>
                      <li><a href="#"> Plumber</a> </li>
                      <li><a href="#"> Carpenter</a> </li>
                      <li><a href="#"> Painter</a> </li>
                    </ul>
                    
              </div>
              <div class="col-md-4 footer-four">
                 <h5>Contact Us</h5>
                   <img src="Images/footer-img-1.png">  
                    
              </div>
              
          
          
          
          
          
          <div class="clearfix"></div>
      </div>
  </div>
  
  </div>
  <div class="footer-bottom">
          <div class="container">
                      <div class="row">
                          <div class="col-sm-6 ">
                              <div class="copyright-text">
                                  <p>CopyRight © 2017 Digital All Rights Reserved</p>
                              </div>
                          </div> <!-- End Col -->
                          <div class="col-sm-6  ">
                              <div class="copyright-text pull-right">
                                  <p> <a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a href="#">Refund Policy</a> </p>
                              </div>					
                                                      
                          </div> <!-- End Col -->
                      </div>
                  </div>
      </div>
</footer>

</div><!-- /.container -->

              <!-- Jquery Code -->
              <script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
function Validation(){
  if(document.getElementById("cn").value.length < 11 )
  {
    alert("Please Write Correct Contact Number");
    document.getElementById("cn").value = "";
    document.getElementById("cn").style.background="red";
    document.getElementById("cn").focus();
    return false;
  }
  if(document.getElementById("CNIC").value.length < 13)
  {
    alert("Please Write Correct CNIC Number");
    document.getElementById("CNIC").value = "";
    document.getElementById("CNIC").style.background="red";
    document.getElementById("CNIC").focus();
    return false;
  }
  if (err) throw err;
  else
   alert("your data has been submitted");
}
</script>

</body>
</html>
